$sidebar-bg: white;
$sidebar-text: black;
$hover-bg: #292945;
$box-bg: rgb(175, 174, 174);

.box-one {
  background-color: $box-bg;
  display: flex;

  .sidebar {
    background-color: $sidebar-bg;
    color: $sidebar-text;

    padding-right: 40px;
    transition: width 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 220px; // Açıq hal

    &.collapsed {
      width: 70px; // Yalnız ikonlar üçün

      .icon {
        margin-right: 0;
      }
    }

    .toggle-btn {
      padding-top: 10px;

      font-size: 20px;
      cursor: pointer;
    }

    .menu {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-a {
        text-decoration: none;
        color: $sidebar-text;
      }

      .menu-a.active {
        color: red; /* klik edilib aktiv olanda qırmızı */
      }
      li {
        display: flex;
        align-items: center;
        padding: 12px 15px;
        transition: 0.2s;

        .icon {
          font-size: 18px;
          margin-right: 15px;
        }

        span {
          white-space: nowrap;
        }
      }
    }
  }

  .box-two {
    margin-left: 40px;
    margin-top: 50px;

    .box-two-span {
      font-weight: bold;
    }

    .about-payment {
      padding: 20px;
      margin-right: 90px;
      margin-top: 20px;
      background-color: $sidebar-bg;
      border-radius: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 5px;

      .about-button {
        margin-top: 32px;
        padding: 19px 45px;
      }
      .custom {
        margin-top: 30px;
        padding-right: 40px;
        padding-left: 40px;
      }
    }
  }
}
.title-modal {
  margin-left: 150px;
}
.button {
  margin-top: 30px;
  width: 100%;
}
